# Nx
.nx/cache
.nx/workspace-data

# Node.js
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Generated
build/
dist/

# VSCode
.vscode/

# Logs
*.log
